body{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    height: 500px;
    border: 1px solid red;
}

.container > h2{
    text-align: center;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input > input, #submitBtn, #tasks{
    margin: 14px;
    padding: 10px;
}

#submitBtn{
    cursor: pointer;
}

#tasks {
    list-style-type: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin-bottom: 10px;
}

.remove {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}