.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    max-height: 500px;
    border: 1px solid red;
}

.container > h2{
    text-align: center;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input > input, #submitBtn{
    margin: 14px;
    padding: 10px;
}

#submitBtn{
    cursor: pointer;
}

#tasks {
    list-style-type: none;
}