.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    max-height: 500px;
    border: 1px solid red;
}

.container > h2{
    text-align: center;
}

.container > input{
    margin: 14px;
    padding: 10px;
}